_asset/
_library/
wp-admin/
wp-includes/
wp-content/languages/
wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/twentyfifteen/
wp-content/themes/twentyfourteen/
wp-content/themes/twentythirteen/
wp-content/themes/samplecorporation/img/

.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config.php.orig
wp-links-opml.php
wp-settings.php
wp-cron.php
wp-load.php
wp-login.php
wp-mail.php
wp-signup.php
wp-trackback.php
xmlrpc.php